
.container {
    display: flex;
    gap: 20px;
    width: 60%;
    margin-left: 10px;
    margin-top: 20px;

}

.avatar {
    transform: translateY(-10px);
    border-radius: 50%;
    border: 2px solid gray;
}

.content{
    display: flex;
    gap : 30px;
    text-decoration: none;
    color: gray;
}


