.container {
    width: 70%;
    margin: 20px auto;
    height: 100vh;
}

.Subcontainer{
    display: block;
}

.avatar{
    border-radius: 50%;
    position: relative;
}

.icon{
    position:absolute;
    top :40px;
    right: -10px;
}
